body {
  margin: 0;
  font-size: 16px;
  color: #fff;
  background: #080A0F;
}

h2, h3, .btn, p, a, input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

i {
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: #F67741;
}

main {
  background: url("../assets/images/image_BG.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header {
  padding-top: 2em;
  padding-left: 2.5em;
}
.header__logo {
  height: 2.3em;
  width: 12em;
}

.btn {
  color: #fff;
  background: linear-gradient(to bottom, #E56A41, #E79D4D);
  border-radius: 0.5em;
  padding: 1em 1.5em;
  cursor: pointer;
}

.annotation_grey {
  text-align: left;
  color: #989898;
  font-size: 0.7em;
  margin-top: 0.5em;
}

.wrapper {
  margin: auto;
  outline: none;
}

.slides--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slides {
  width: 84%;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}

.slides--buttons {
  width: 8%;
  text-align: center;
  font-size: 3em;
}

.slides--inner {
  display: inline-block;
  overflow: hidden;
  width: 400%;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.slide {
  width: 25%;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  align-content: center;
}
.slide div {
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}
.slide div:first-child {
  padding-right: 1em;
  text-align: right;
  width: 50%;
}
.slide div:last-child {
  padding-left: 1em;
  text-align: center;
  width: 50%;
}
.slide div:last-child img {
  width: 50%;
}
.slide:nth-child(2n+1) div:last-child img {
  width: 100%;
}

.slide--left-text {
  margin-bottom: 1.5em;
  margin-top: 0;
  font-size: 2em;
}

.link {
  border: 1px solid #fff;
  border-radius: 0.3em;
  padding: 0.7em 1.2em;
  height: 50px;
}
.link--descrpition {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link__img {
  vertical-align: middle;
  margin-right: 0.9em;
  width: 2em;
}
.link__get {
  font-size: 0.8em;
  margin: 0;
}
.link__where {
  font-size: 1.4em;
  margin: 0;
}
.link__text {
  margin: 0.9em 0;
}
.link--android {
  border: 1px solid #989898;
}

.android {
  color: #989898;
  font-size: 1.1em;
}

.download__title {
  font-size: 40px;
  text-align: center;
  margin: 4em 0 2em 0;
}
.download--blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.download--blocks__title {
  text-align: center;
}
.download--block {
  width: 250px;
  margin-left: 60px;
}
.download--block:first-child {
  margin-left: 0;
}
.download--block a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.download--block a img {
  margin-right: 20px;
}

.footer {
  display: flex;
  align-items: center;
  margin: 8em 0;
}
.footer div {
  width: 50%;
  padding: 0 10%;
  box-sizing: border-box;
}
.footer div:first-child {
  text-align: center;
}
.footer div:last-child {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.footer--phone__form {
  width: 25em;
  display: flex;
}
.footer--phone__form input:first-child {
  width: 80%;
  color: #000;
  outline: none;
}
.footer--phone__form input:last-child {
  width: 20%;
  outline: none;
}
.footer--phone__text {
  margin-top: 0;
  width: 17em;
  text-align: left;
  font-size: 1.5em;
}
.footer--links a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin: 0.7em 0;
}

.btn-phone {
  border: none;
}

.form__phone {
  margin-right: -1em;
  border-radius: 0.5em;
  border: none;
  background: #CECECE;
  padding-left: 1.5em;
}

a.link-inactive {
  border-color: #989898;
  color: #989898;
}

#captcha_box {
  background: rgba(255, 255, 255, 0.7);
  padding: 2em;
  margin-top: 2em;
}

@media screen and (max-width: 1575px) {
  .partial--right img {
    height: 550px;
  }
}
@media screen and (max-width: 1390px) {
  .partial--right {
    margin: auto auto auto 20px;
  }
  .partial--right img {
    height: 28em;
  }
}
@media screen and (max-width: 960px) {
  .partial--right img {
    height: 22em;
  }

  .btn {
    padding: 0.7em 1em;
  }

  .download--blocks {
    width: 85%;
    margin: 0 auto;
  }
  .download--block:last-child {
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 12px;
  }

  .btn {
    padding: 1em 1.5em;
  }

  .partial--right {
    margin: auto;
    margin-bottom: 40px;
  }
  .partial--right img {
    height: 30em;
  }

  .slide div {
    display: block;
    width: 100% !important;
  }
  .slide .slide--left {
    text-align: center !important;
    margin-bottom: 3em;
  }
  .slide .slide--left h2 {
    text-align: center;
    font-size: 2.5em;
  }
  .slide .slide--left a {
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
  }

  .download--blocks {
    width: 70%;
    margin: 0 auto;
  }
  .download--block {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .download--block:last-child {
    margin-bottom: 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer div {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    align-items: center;
  }
  .footer div:last-child {
    display: flex;
    flex-direction: column;
  }
  .footer--phone__form {
    width: 25em;
    display: flex;
    margin: 0 auto 40px auto;
  }
  .footer--phone__form input:first-child {
    width: 80%;
  }
  .footer--phone__form input:last-child {
    width: 30%;
  }
  .footer--phone__text {
    margin: 0 auto 20px auto;
    width: 17em;
    text-align: center;
    font-size: 1.5em;
  }
  .footer--links a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  .partial--right img {
    height: 20em;
  }

  .slide--right img {
    height: 15em;
    width: 25em;
  }

  .third--right img {
    width: 20em;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    margin-bottom: 4em;
  }
  .footer--phone__text {
    font-size: 1.25em;
  }
  .footer--phone__form {
    width: 20em;
  }
}

/*# sourceMappingURL=style.css.map */
